---
- name: Create a color container
  containers.podman.podman_container:
    name: colors
    image: docker.io/mmumshad/simple-webapp-color:latest
    state: started
    network: host
    ports:
        - "{{ host_port }}:{{ container_port }}"
    env:
        APP_COLOR: "{{ color }}"
        tree: "{{ tree }}"
