kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: prometheus-operated
  namespace: {{ prometheus_namespace }}
  labels:
    operated-prometheus: 'true'
spec:
  host: prometheus-operated-prometheus-operator.{{ domain }}
  to:
    kind: Service
    name: prometheus-operated
    weight: 100
  port:
    targetPort: web
