apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ansiblecontroller-monitor
  labels:
    team: frontend
  namespace: {{ prometheus_namespace }}
spec:
  namespaceSelector:
    matchNames:
      - {{ ansible_namespace }}
  selector:
    matchLabels:
      monitor: {{ monitor_value }}
  endpoints:
    - interval: 5s
      path: /api/v2/metrics
      scheme: http
      bearerTokenSecret:
        name: bearertoken
        key: secret
